/* Application CSS variables
 ************************************************/
$dashboard-body-bg: #EEEEEC;
$dashboard-header-bg: #24283C;
$dashboard-section-bg: #F2F5F9;

$dashboard-title-light: #8A8A8B;
/* ----------------------------------------------
 ************************************************/
