// Body
$body-bg: #EEEEEC;
$dashboard-primary-color: #24283C;
$dashboard-border-color: #E0E6EA;
$dashboard-section-bg: #F2F5F9;

$username-amount-color: #8A8A8B;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
