@import 'variables';

/* Dashboard container and general styling begin
 *********************************************/

body {
    background-color: $body-bg;
}

.dashboard-container {

}

.hide {
    display: none !important;
}

.dashboard-article-trades, .dashboard-section, .dashboard-aside-trades {
    background-color: white;
    min-height: calc(100vh - 7rem);
}

/* -------------------------------------------
 *********************************************/

/* Dashboard header styling begin
 *********************************************/
.dashboard-header {
    background-color: $dashboard-primary-color;
}

.dashboard-header-nav {
    float: right;
}

.dashboard-header-nav a, .dashboard-menu a {
    color: white;
}

.dashboard-menu a {
    width: 8rem;
    font-size: 0.8rem;
    text-align: center;
}

.dashboard-header-nav a:hover {
    text-decoration: underline;
}

/* -------------------------------------------
 *********************************************/

/* Dashboard menu styling begin
 *********************************************/
.dashboard-menu {
    background-color: white;
    border-bottom: 0.2rem solid $dashboard-border-color;
}

.dashboard-menu a {
    color: $dashboard-primary-color;
    font-weight: bold;
    border-right: 1px solid $dashboard-border-color;
}

.dashboard-menu a:first-child {
    border-left: 1px solid $dashboard-border-color;
}

.dashboard-menu a:hover {
    background-color: #F2F7FA;
}

/* -------------------------------------------
 *********************************************/

/* Dashboard article trades & it's item styling begin
 *********************************************/
.dashboard-article-trades {
    box-shadow: 0.5rem 0 0.5rem 0 $dashboard-border-color;
    z-index: 2;
}

.dashboard-trade-item {
    position: relative;
    border-bottom: 0.1rem solid $dashboard-border-color;
}

.dashboard-trade-item-username {
    margin-left: 1.2rem;
    padding-top: 1.2rem;
    font-size: 0.8rem;
    color: $username-amount-color;
    font-weight: bold;
}

.dashboard-trade-item-payment-method {
    margin-top: 0.3rem;
    margin-left: 2.1rem;
    font-size: 1rem;
    color: $dashboard-primary-color;
    font-weight: bold;
}

.dashboard-trade-item-amount {
    margin-left: 2.1rem;
    margin-bottom: 1.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: $username-amount-color;
}

/* -------------------------------------------
 *********************************************/

/* Dashboard trade item user styling
 *********************************************/
.dashboard-trade-item-user-icon {
    position: absolute;
    top: 1.6rem;
    right: 0.5rem;
}

.dashboard-trade-item-user-icon svg {
    position: absolute;
    right: 0;
}

.paid, .not-paid {
    position: absolute;
    top: 2.8rem;
    width: 4rem;
    font-size: 0.65rem;
    font-weight: bold;
    text-align: center;
}

.paid {
    color: green;
    right: -1.2rem;
}

.not-paid {
    color: red;
    right: -0.5rem;
}

/*
 *********************************************/

/* Dashboard section styling begin
 *********************************************/
.dashboard-section {
    background-color: $dashboard-section-bg;
    z-index: 1;
}

.section-header {
    margin-bottom: 2rem;
    position: relative;
    border-bottom: 0.1rem solid $dashboard-border-color;
}

.section-header-delete-icon {
    position: absolute;
    top: 0.4rem;
    left: 1.3rem;
    border-radius: 50%;
    width: 1.9rem;
    height: 1.9rem;
    background-color: #A5B0BA;
}

.section-header-delete-icon:hover {
    cursor: pointer;
}

.section-header-delete-icon svg {
    position: relative;
    top: 0.12rem;
    left: 0.19rem;
}

.section-header-payment-method {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: $dashboard-primary-color;
}

.section-header-username {
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: $username-amount-color;
}

.reputation-plus {
    color: green;
}

.reputation-minus {
    color: red;
}

.section-content {
    height: 40rem;
    overflow: auto;
}

.section-comment {
    margin-bottom: 2rem;
    display: inline-flex;
    align-items: center;
}

.section-comment div {
    text-align: justify;
}

.section-comment div:nth-child(even) {
    width: calc(100% - 4rem);
}

.section-comment div:nth-child(2) {
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.section-comment div:nth-child(odd) {
    width: 4rem;
    text-align: center;
}

.section-content-comment-not-reply {
    background-color: #4A5F82;
    color: white;
}

.section-content-comment-reply {
    background-color: white;
    color: #4A5F82;
}

.section-textarea {
    position: relative;
    margin-top: 1.8rem;
}

.section-textarea textarea {
    resize: none;
    font-size: 0.85rem;
    padding-right: 4rem;
}

.section-textarea span {
    position: absolute;
    top: 1.9rem;
    right: 1.7rem;
    color: green;
    font-weight: bold;
    font-size: 0.9rem;
}

.section-textarea span:hover {
    cursor: pointer;
}

/* -------------------------------------------
 *********************************************/

/* Dashboard aside trades styling begin
 *********************************************/
.dashboard-aside-trades {
    box-shadow: -0.5rem 0 0.5rem 0 $dashboard-border-color;
    z-index: 2;
}

/* -------------------------------------------
 *********************************************/

@media screen and (max-width: 767px) {
    .dashboard-menu a:first-child {
        border-left: 0;
    }

    .dashboard-article-trades {
        box-shadow: 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .dashboard-trade-item-user-icon {
        display: none;
    }

    .dashboard-trade-item-username, .dashboard-trade-item-amount {
        font-size: 0.65rem;
    }

    .dashboard-trade-item-payment-method {
        font-size: 0.8rem;
    }
}

/* -------------------------------------------
 *********************************************/
