@import 'variables';

/* Dashboard container and general styling begin
 *********************************************/

body {
    background-color: $body-bg;
}

.dashboard-container {

}

.dashboard-article-trades, .dashboard-section, .dashboard-aside-trades {
    background-color: white;
    min-height: calc(100vh - 7rem);
}

/* -------------------------------------------
 *********************************************/

/* Dashboard header styling begin
 *********************************************/
.dashboard-header {
    background-color: $dashboard-primary-color;
}

.dashboard-header-nav {
    float: right;
}

.dashboard-header-nav a, .dashboard-menu a {
    color: white;
}

.dashboard-menu a {
    width: 8rem;
    font-size: 0.8rem;
    text-align: center;
}

.dashboard-header-nav a:hover {
    text-decoration: underline;
}

/* -------------------------------------------
 *********************************************/

/* Dashboard menu styling begin
 *********************************************/
.dashboard-menu {
    background-color: white;
    border-bottom: 0.2rem solid $dashboard-border-color;
}

.dashboard-menu a {
    color: $dashboard-primary-color;
    font-weight: bold;
    border-right: 1px solid $dashboard-border-color;
}

.dashboard-menu a:first-child {
    border-left: 1px solid $dashboard-border-color;
}

.dashboard-menu a:hover {
    background-color: #F2F7FA;
}

/* -------------------------------------------
 *********************************************/

/* Dashboard trade item styling begin
 *********************************************/
.dashboard-trade-item {
    position: relative;
    border-bottom: 0.1rem solid $dashboard-border-color;
    box-shadow: 0.5rem 0 0.5rem 0 $dashboard-border-color;
}

.dashboard-aside-trades {
    position: relative;
    border-bottom: 0.1rem solid $dashboard-border-color;
    box-shadow: -0.5rem 0 0.5rem 0 $dashboard-border-color;
}

.dashboard-trade-item-username {
    margin-left: 1.2rem;
    padding-top: 1.2rem;
    font-size: 0.8rem;
    color: #8A8A8B;
    font-weight: bold;
}

.dashboard-trade-item-payment-method {
    margin-top: 0.3rem;
    margin-left: 2.1rem;
    font-size: 1rem;
    color: $dashboard-primary-color;
    font-weight: bold;
}

.dashboard-trade-item-amount {
    margin-left: 2.1rem;
    margin-bottom: 1.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #8A8A8B;
}

/* -------------------------------------------
 *********************************************/

/* Dashboard trade item user styling
 *********************************************/
.dashboard-trade-item-user-icon {
    position: absolute;
    top: 1.6rem;
    right: 0.5rem;
}

.dashboard-trade-item-user-icon svg {
    position: absolute;
    right: 0;
}

.paid, .not-paid {
    position: absolute;
    top: 2.8rem;
    width: 4rem;
    font-size: 0.65rem;
    font-weight: bold;
    text-align: center;
}

.paid {
    color: green;
    right: -1.2rem;
}

.not-paid {
    color: red;
    right: -0.5rem;
}

/*
 *********************************************/

/* Dashboard section styling begin
 *********************************************/


/* -------------------------------------------
 *********************************************/

@media screen and (max-width: 767px) {
    .dashboard-menu a:first-child {
        border-left: 0;
    }

    .dashboard-trade-item {
        box-shadow: 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .dashboard-trade-item-user-icon {
        display: none;
    }

    .dashboard-trade-item-username, .dashboard-trade-item-amount {
        font-size: 0.65rem;
    }

    .dashboard-trade-item-payment-method {
        font-size: 0.8rem;
    }
}

/* -------------------------------------------
 *********************************************/
